

button, #inputLabel, #inputValue {
  font-size: 120%;
}


#back {
  display: inline;
  color: black;
  border-radius: 20px;
  border: 3px solid midnightblue;
  background-color: lightblue;
  padding-left: 0.5%;
  padding-right: 0.5%;
}

body {  
  background-color: azure;
}

a {
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  border:3px solid black;
  background-color: red;
  border-radius: 20px;
}

#mainCanvas {  
  border:3px solid black;
}

#canvasContainer {
  display: flex;
  justify-content: center;
}

#Refresh {
  font-weight: bold;
  color: white;
  background-color: red;
  border-radius: 10px;
}